/*Reset styles*/

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}

/*General styles*/
a{
	color:gray;
}
a:hover{
	color:#718ECD;
}

@media (max-width:10000px){

/*Animation*/

body{
	font-family: 'Times New Roman', serif;
	font-size:16px;
	width:100%;
	height:750px;
	color:#414141;
	background: -webkit-radial-gradient(70% 30%, circle,yellow 3%, white 20%, lightblue);
	background: -o-radial-gradient(70% 30%, circle,yellow 3%, white 20%, lightblue);
	background: -moz-radial-gradient(70% 30%, circle,yellow 3%, white 20%, lightblue);
	background: -ms-radial-gradient(70% 30%, circle,yellow 3%, white 20%, lightblue);
	background: radial-gradient(70% 30%, circle,yellow 3%, white 20%, lightblue);
}
#move_place{
	position: absolute;
	top: 100px;
	left: 35px;
	width: 500px;
	height: 500px;
	border-radius: 100%;
	z-index:1000;
	-webkit-animation: moving 50s linear infinite alternate;
	-moz-animation: moving 50s linear infinite alternate;
	animation: moving 50s linear infinite alternate;
}
@keyframes moving{
	from {left:500px;}
		to {left:0px;}
}
#cloud_1{
	position:absolute;
	top:0;
	left:0;
}
#cloud_2{
	position:absolute;
	top:0;
	left:350px;
}
#cloud_3{
	position:absolute;
	top:100px;
	left:240px;
}
#cloud_4{
	position:absolute;
	top:240px;
	left:100px;;
}
#cloud_5{
	position:absolute;
	top:300px;
	left:250px;
}

/*Header*/

header{
	text-align:center;
	color:#AFB3D7;
}
header a{
	color:#AFB3D7;
}
header a:hover{
	color:orange;
}

/*cityWeather Container*/

#cityWeather{
	position:absolute;
	top:15%;
	left:10%;
	width:500px;
	height:430px;
	padding:10px;
	background-color: rgba(255, 255, 255, 0.9);
	border-radius:15px;
	overflow:hidden;
	z-index:10000;
	opacity:0;
	border:1px solid rgba(129,204,189,1);
	-webkit-box-shadow: -1px 1px 10px 4px rgba(129,204,189,1);
	-moz-box-shadow: -1px 1px 10px 4px rgba(129,204,189,1);
	-ms-box-shadow: -1px 1px 10px 4px rgba(129,204,189,1);
	box-shadow: -1px 1px 10px 4px rgba(129,204,189,1);
}
#weather:before{
	background: url("image/preloader2.gif") no-repeat center center #fff;
	content: "";
	width: 64px;
	height: 64px;
	position: absolute;
	top: 50%;
	left: 30%;
	border-radius:100%;
	display:block;
}
#weather.error:before{
	display:none;
}

#weather.error{
	text-align:center;
	font-size: 20px;
}

#weather.loaded:before{
	display:none;
}
#weather.loaded #cityWeather{
	display:block;
	opacity:1;
}
.cityTitle{
	height:30px;
	padding-left:10px;
	border:1px solid rgba(129,204,189,1);
	border-radius:10px;
}
.cityTitle h2{
	color:lightgray;
}

/*Section*/

section.currentDateWeather{
	float:left;
	width:350px;
	padding-right:5px;
}
h3.currentDate{
	width:100%;
	height:30px;
	overflow:hidden;
	font-family:Verdana;
	font-size:18px;
	font-weight:normal;
	padding:5px;
	color:gray;
}

.mainWeather{
	width:100%;
	height:200px;
	overflow:hidden;
}
.mainWeather div:first-of-type {
	width:163px;
	height:135px;
	float:left;
	padding-right:30px;
	overflow:hidden;
}
.mainWeather img{
	width:163px;
	height:135px;
}
.mainWeather div:nth-of-type(2){
	font-size:50px;
	padding:30px 0;
	margin:0;
	color:orange;
}
.mainWeather p{
	font-family: Courier, Cursive;
	font-size:17px;
	padding:5px;
	clear:both;
	color:gray;
}
.expandedCurrentForecast{
	width:100%;
	height:200px;
}
.expandedCurrentForecast ul li{
	display:inline-block;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:25%;
	padding:5px;
	text-align:center;
}
.expandedCurrentForecast ul li div{
	padding-top:5px;
}
.expandedCurrentForecast ul li div:nth-child(3){
	color: #FF7A00;
}
.expandedCurrentForecast ul li img{
	width:100%;
}

/*Aside*/

aside.nextDateWeather{
	float:left;
	width:135px;
	margin:0;
	padding-left:10px;
}
aside nav{
	height:15px;
	padding:10px 0;
}
aside nav a{
	float:right;
}
aside ul{
	position:relative;
	height:325px;
	overflow:hidden;
}
aside ul li{
	position:relative;
	width:145px;
	height:35px;
	padding:5px 0px;
	border-bottom:1px solid rgba(129,204,189,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
}

aside ul li:first-child{
	border-top:1px solid rgba(129,204,189,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
}
aside ul li:hover{
	border-bottom:1px solid rgba(242,165,12,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
}
aside ul li:first-child:hover{
	border-top:1px solid rgba(242,165,12,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
}
aside ul li div{
	float:left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:33%;
	text-align:center;
}
aside ul li div:nth-child(2){
	color: #FF7A00;
}
aside ul li div img{
	width:30px;
	height:30px;
}
.slideNextWeather a{
	display:block;
	text-decoration:none;
	text-align:center;
}

/*Page More*/

table{
	font-size:18px;
	width:900px;
	height:auto;
	margin:auto;
	background-color: transparent;
	border-bottom:1px solid rgba(129,204,189,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	opacity:0;
}
table.loaded{
	opacity:1;
}
thead{
	color:gray;
	font-size:14px;
}
table tr{
	border-bottom:1px solid rgba(129,204,189,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
	box-shadow: 0px 3px 6px -2px rgba(129,204,189,1);
}
table tr:hover{
	border-bottom:1px solid rgba(242,165,12,1);
	-webkit-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	-moz-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	-ms-box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
	box-shadow: 0px 3px 6px -2px rgba(242,165,12,1);
}
table th, table td{
	text-align:center;
	padding:5px;
}
table td:first-child{
	font-family:Verdana;
	font-size:20px;
}
table td:nth-child(2),
table td:nth-child(3),
table td:nth-child(4),
table td:nth-child(5){
	color: #FF7A00;
}
table td:nth-child(7){
	font-family:Cursive;
	color:gray;
}
table img{
	width:50px;
	height:50px;
}
}
@media (max-width:1075px){

/*Animation*/
@keyframes moving{
	from {left:350px;}
		to {left:0px;}
}
}
@media (max-width:945px){
table{
	font-size:15px;
	width:600px;
}
@keyframes moving{
	from {left:120px;}
		to {left:0px;}
}
}		
@media (max-width:630px){

body{
	background:white;
}
#move_place{
	display:none;
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}
}		
