/*Reset styles*/
*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
/*General styles*/
body{
	color:#414141;
}
a{
	color:gray;
}
a:hover{
	color:#718ECD;
}
/*Header*/
header{
	text-align:center;
	color:#AFB3D7;
}
/*cityWeather Container*/
#cityWeather{
	position:absolute;
	top:20%;
	left:30%;
	width:500px;
	height:420px;
	padding:10px;
	background-color: #F6FFF6;
	border:1px solid orange;
	border-radius:15px;
	overflow:hidden;
}
.cityTitle{
	height:30px;
	background-color:#FCFCFC;
	padding-left:10px;
	border:1px solid #D8D8D8;
	border-radius:10px;
}
.cityTitle h2{
	float:left;
}
#citySearch{
	font-size:14px;
	float:right;
}
/*Section*/
section.currentDateWeather{
	float:left;
	width:350px;
	padding-right:5px;
}
.currentDate{
	font-family:Verdana;
	font-size:18px;
	font-weight:normal;
	padding:5px;
}
.currentForecast img{
	width:163px;
	height:135px;
	float:left;
	padding-right:25px;
}
.latestMeasurementsTemperature{
	font-size:40px;
	padding:30px 0;
	margin:0;
	color:orange;
}
.currentForecast p{
	font-family: Courier;
	font-size:17px;
	padding:5px 5px 10px;
	clear:both;
}
.durationOfDay{
	height:25px;
}
.sunrise{
	float:left;
}
.sunset{
	float:right;
}
.expandedCurrentForecast table tr td{
	width:85px;
	text-align:center;
}
/*Aside*/
aside nav{
	height:20px;
	padding:10px 0;
}
aside nav a:first-child{
	float:left;
}
aside nav a:last-child{
	float:right;
}
aside.nextDateWeather{
	float:left;
	width:135px;
	margin:0;
	padding-left:10px;
}
aside ul li{
	padding:5px 0;
	border-bottom:1px solid orange;
	background-color:#FCFCFC;
}
aside ul li:first-child{
	border-top:1px solid orange;
}
aside ul li table{
	width:145px;
}
.slideNextWeather a{
	display:block;
	text-decoration:none;
	text-align:center;
}


